.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 0;
    width: 100%;
    height: 7%;
    line-height: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgba(71, 69, 69, 0.06);
    background-color: white;
}

.main {
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e1dddd;
}

.footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 5px 5px rgba(71, 69, 69, 0.162);
    background-color: #c0caad;
}
