.city-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.city-nav-bg {
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #7f78788d;
    z-index: -1;
}

.city-btns {
    position: relative;
    top: 5%;
    padding: 10%;
}