.city-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
}

.left-side {
    width: 50%;
    height: 600px;
    overflow-y: scroll;
}

.right-side {
    width: 50%;
    height: 600px;
}