.city-card-main {
    color: white;
    background-color: #B26E63;
    border: 1px solid #654C4F;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 10px;
}

.city-card-main:hover {
    background-color: #b26d63c7;
}
