.city-card-name {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: black;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 10px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.334);

    &:hover {
        background-color: #e7e8ea43;
    }
}
